@model HomeViewModel

<form id="0-assortiment" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <input asp-for="currentUserId" value="0" name="currentUserId" type="radio" class="form-check-input" checked="" required="" style="display:none">
    <div onshow='foodClick("#0-assortiment");' type="button">
        <span class="fs-2 text-primary" style="font-weight:700">Tamak</span>
    </div>
</form>