@model CreateOrderViewModel

@{
    Layout = "_Layout";
}

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-2 text-primary" style="font-weight:700">Tamak</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/User/GetUser" class="nav-link text-dark">Профиль</a></li>
            @if (User.IsInRole("User"))
            {
                <a href="/Basket/Detail" class="nav-link text-dark">Корзина</a>
            }
            else
            {
                <a href="/Basket/Detail" class="nav-link text-dark">Список заказов</a>
            }
            <li class="nav-item">
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input class="nav-link text-dark" type="submit" value="Выйти" />
                </form>
            </li>
        </ul>
    </header>
</div>


<div style="height: 500px;" class="container col-3 d-flex align-items-center">
    <div class="form-signin w-100 m-auto">
        <form id="orderFormId">
            <input asp-for="Login" hidden />
            <input asp-for="ProductId" hidden />
            <input asp-for="Shop" hidden />
            <input asp-for="City" hidden />
            <input asp-for="Campus" hidden />
            <input asp-for="Status" hidden />
            <div asp-validation-summary="All"></div>
            <div class="row g-3">
                <div class="col-12">
                    <label for="Time" class="form-label">Время заказа</label>
                    <select asp-for="@Model.OrderDate" class="form-select" id="orderData" required="">
                        <option value="">Выберите...</option>
                        @foreach (var product in Model.Products)
                        {
                            @if (product.Id == Model.ProductId)
                            {
                                @foreach (var assortiment in Model.Assortiments)
                                {
                                    @if (assortiment.Id == product.AssortimentId)
                                    {
                                        @foreach (var time in assortiment.Times)
                                        {
                                            @if (time.AssortimentId == assortiment.Id && time.Avaliable)
                                            {
                                                <option value="@time.Id">@time.StringData</option>
                                            }
                                        }
                                        break;
                                    }
                                }
                            }
                        }
                    </select>
                    <div class="invalid-feedback">
                        Пожалуйста, выберите время к которому подготовить ваш заказ
                    </div>
                    <button class="w-100 btn btn-primary my-3" type="submit" id="createOrderId">Оформить</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section pageScripts
    {
    <script>
        $('#createOrderId').on('click', function (e) {
            e.preventDefault();
            const model = $('#orderFormId').serialize();
            $.ajax({
                url: '@Url.Action("CreateOrder")',
                type: 'POST',
                data: model,
                success: function (response) {
                    Swal.fire({
                        buttonsStyling: false,
                        text: response.description,
                        customClass: {
                            confirmButton: 'btn btn-primary',
                        },
                        confirmButtonText: 'Хорошо',
                    }).then((result) => {
                        window.location.reload();
                    })
                },
                error: function (response) {
                    Swal.fire({
                        buttonsStyling: false,
                        text: 'Пожалуйста, выберите время заказа',
                        customClass: {
                            confirmButton: 'btn btn-primary',
                        },
                        confirmButtonText: 'Хорошо',
                    })
                }
            });
        });
    </script>
}